---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Launches from '../components/Launches.astro';
---

<Layout title="SpaceX Launches.">
	<!-- <main>
		 <h1 class="text-6xl text-white font-bold al">SpaceX Lanches</h1>
		<Header />
	</main> -->
	<Launches />
</Layout>